[Desktop Entry]
Name=binsh
Comment=Modern SSH Client & Server Management
Exec=binsh
Icon=${SNAP}/usr/share/icons/hicolor/256x256/apps/binsh.png
Terminal=false
Type=Application
Categories=Network;RemoteAccess;System;Development;
Keywords=ssh;terminal;server;remote;sftp;
StartupNotify=true
StartupWMClass=binsh
